<a href="https://colab.research.google.com/github/derpen/MachineLearningStuff/blob/main/movie_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Mendownload dataset dari kaggle

In [ ]:
from google.colab import files

files.upload()

# Upload kaggle token disini

In [ ]:
!mkdir ~/.kaggle

!cp kaggle.json ~/.kaggle/

!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d rounakbanik/the-movies-dataset

Downloading the-movies-dataset.zip to /content
 93% 212M/228M [00:06<00:00, 33.3MB/s]
100% 228M/228M [00:06<00:00, 35.9MB/s]

In [ ]:
!mkdir ~/movies

!unzip the-movies-dataset.zip -d ~/movies

Archive:  the-movies-dataset.zip
  inflating: /root/movies/credits.csv
  inflating: /root/movies/keywords.csv
  inflating: /root/movies/links.csv
  inflating: /root/movies/links_small.csv
  inflating: /root/movies/movies_metadata.csv
  inflating: /root/movies/ratings.csv
  inflating: /root/movies/ratings_small.csv

# Melihat Konten dari dataset, untuk sekarang kita gunakan movies_metadata saja

In [ ]:
!ls ~/movies

credits.csv   links.csv        movies_metadata.csv  ratings_small.csv
keywords.csv  links_small.csv  ratings.csv

In [ ]:
df = pd.read_csv('~/movies/movies_metadata.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
print(df.shape)

(45466, 24)

# 45466 data, mari kita lihat seperti apa head nya

In [ ]:
df.head().T

,0,1,2,3,4
adult,False,False,False,False,False
belongs_to_collection,"{'id': 10194, 'name': 'Toy Story Collection', ...",NaN,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,"{'id': 96871, 'name': 'Father of the Bride Col..."
budget,30000000,65000000,0,16000000,0
genres,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 35, 'name': 'Comedy'}]"
homepage,http://toystory.disney.com/toy-story,NaN,NaN,NaN,NaN
id,862,8844,15602,31357,11862
imdb_id,tt0114709,tt0113497,tt0113228,tt0114885,tt0113041
original_language,en,en,en,en,en
original_title,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II
overview,"Led by Woody, Andy's toys live happily in his ...",When siblings Judy and Peter discover an encha...,A family wedding reignites the ancient feud be...,"Cheated on, mistreated and stepped on, the wom...",Just when George Banks has recovered from his ...
popularity,21.946943,17.015539,11.7129,3.859495,8.387519
poster_path,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,/e64sOI48hQXyru7naBFyssKFxVd.jpg
production_companies,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'name': 'Sandollar Productions', 'id': 5842}..."
production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o..."
release_date,1995-10-30,1995-12-15,1995-12-22,1995-12-22,1995-02-10
revenue,373554033.0,262797249.0,0.0,81452156.0,76578911.0
runtime,81.0,104.0,101.0,127.0,106.0
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]"
status,Released,Released,Released,Released,Released
tagline,NaN,Roll the dice and unleash the excitement!,Still Yelling. Still Fighting. Still Ready for...,Friends are the people who let you be yourself...,Just When His World Is Back To Normal... He's ...
title,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II
video,False,False,False,False,False
vote_average,7.7,6.9,6.5,6.1,5.7
vote_count,5415.0,2413.0,92.0,34.0,173.0

# Melihat apa saja yang ada di kolom adult. Hasil ternyata aneh, dan tidak ada cara untuk mengembalikan nilai sebenarnya, jadi kita ignore

In [ ]:
df['adult'].value_counts() # wtf ??

False                                                                                                                             45454
True                                                                                                                                  9
 - Written by Ørnås                                                                                                                   1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
Name: adult, dtype: int64

# Ambil kolom title dan overview, buang duplicate

In [ ]:
df2 = df[['title', 'overview']]
df2.drop_duplicates(inplace=True)
df2

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,title,overview
0,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,Just when George Banks has recovered from his ...
...,...,...
45461,Subdue,Rising and falling between a man and woman.
45462,Century of Birthing,An artist struggles to finish his work while a...
45463,Betrayal,"When one of her hits goes wrong, a professiona..."
45464,Satan Triumphant,"In a small town live two brothers, one a minis..."
45465,Queerama,50 years after decriminalisation of homosexual...

In [ ]:
# check 4 duplicate

df2[df2.duplicated(subset=['title', 'overview'], keep=False)]

Empty DataFrame
Columns: [title, overview]
Index: []

In [ ]:
# ambil 20k data pertama, karena 40k data terlalu banyak untuk colab xd

df2 = df2[:20000]

In [ ]:
df2.isna().sum()

title         2
overview    135
dtype: int64

In [ ]:
df2.dropna(inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
df2.isna().sum()

title       0
overview    0
dtype: int64

# Data akhir setelah dibuang nilai yang kosong yaitu 19863

In [ ]:
df2.shape

(19863, 2)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19863 entries, 0 to 20010
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     19863 non-null  object
 1   overview  19863 non-null  object
dtypes: object(2)
memory usage: 465.5+ KB

# Rekomendation sistem dibuat

## Melakukan vektorisasi

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
 
tf = TfidfVectorizer()
 
tf.fit(df2['overview']) 

tfidf_matrix = tf.fit_transform(df2['overview'])

In [ ]:
tfidf_matrix.shape

(19863, 47808)

# Melakukan proses cosine similarity pada data

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(tfidf_matrix) 
cosine_sim

array([[1.        , 0.03150336, 0.01307744, ..., 0.01630904, 0.02814643,
        0.01516451],
       [0.03150336, 1.        , 0.05857066, ..., 0.0200344 , 0.0364727 ,
        0.02765137],
       [0.01307744, 0.05857066, 1.        , ..., 0.02699266, 0.03436193,
        0.02420975],
       ...,
       [0.01630904, 0.0200344 , 0.02699266, ..., 1.        , 0.04031468,
        0.02483334],
       [0.02814643, 0.0364727 , 0.03436193, ..., 0.04031468, 1.        ,
        0.04073811],
       [0.01516451, 0.02765137, 0.02420975, ..., 0.02483334, 0.04073811,
        1.        ]])

In [ ]:
# Melihat relationship antara data

cosine_sim_df = pd.DataFrame(cosine_sim, index=df2['title'], columns=df2['title'])
print('Shape:', cosine_sim_df.shape)
 
cosine_sim_df.sample(5, axis=1).sample(10, axis=0)

Shape: (19863, 19863)

title,Manny & Lo,Hotel Reserve,Stella,Exotica,The Bad Sleep Well
title,,,,,
The Devil Wears Prada,0.027843,0.017242,0.024042,0.052503,0.020342
A Nightmare on Elm Street 5: The Dream Child,0.046800,0.040912,0.036988,0.069977,0.022863
Rugrats in Paris: The Movie,0.020918,0.061601,0.025355,0.023272,0.013535
Buddy,0.016462,0.023603,0.016718,0.045386,0.021110
Homer and Eddie,0.077614,0.000000,0.015030,0.007371,0.032057
Seven Dollars on the Red,0.017317,0.020837,0.023355,0.032258,0.043305
The Extraordinary Adventures of Mr. West in the Land of the Bolsheviks,0.031021,0.038112,0.029839,0.034995,0.058067
The Rocker,0.014072,0.046465,0.010669,0.035050,0.016924
Charlie Wilson's War,0.014271,0.056754,0.037580,0.023974,0.021826
The Birds,0.019491,0.025490,0.011938,0.058641,0.015599

# Membuat fungsi untuk mendapatkan 15 rekomendasi film pertama

In [ ]:
def movie_recommendations(title, similarity_data=cosine_sim_df, items=df2, k=15):
    index = similarity_data.loc[:,title].to_numpy().argpartition(
        range(-1, -k, -1))
    
    closest = similarity_data.columns[index[-1:-(k+2):-1]]
    
    closest = closest.drop(title, errors='ignore')
 
    return pd.DataFrame(closest).merge(items).head(k)

In [ ]:
# lets try it

movie_recommendations('Toy Story')

                     title                                           overview
0              Toy Story 3  Woody, Buzz, and the rest of Andy's toys haven...
1              Toy Story 2  Andy heads off to Cowboy Camp, leaving his toy...
2   The 40 Year Old Virgin  Andy Stitzer has a pleasant life with a nice a...
3                The Champ  The more you love, the harder you fight.The wo...
4                The Champ  Dink Purcell loves his alcoholic father, ex-he...
5    Rebel Without a Cause  After moving to a new town, troublemaking teen...
6   For Your Consideration  Three actors learn that their respective perfo...
7                Condorman  Comic artist and writer Woody performs a simpl...
8          Man on the Moon  A film about the life and career of the eccent...
9           Africa Screams  When bookseller Buzz cons Diana into thinking ...
10            Factory Girl  In the mid-1960s, wealthy debutant Edie Sedgwi...
11               Group Sex  Herman has a weakness for strip clubs. Donny h...
12            Dragon Fight  Jimmy and Tiger are members of the Chinese nat...
13     The Gang's All Here  Playboy Andy Mason, on leave from the army, ro...
14               Losin' It  Set in 1965, four Los Angeles school friends -...